.auth-container {
  max-width: 380px;
  margin: 70px auto;
  padding: 20px;
  border-radius: 15px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.auth-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 10px;
  margin: 8px 0 18px;
  border-radius: 8px;
  border: 1px solid #aaa;
}

button {
  width: 100%;
  padding: 12px;
  border: none;
  background: #4caf50;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background: #449b47;
}

#message {
  margin-top: 15px;
  text-align: center;
}
